<%- include('partials/header'); -%>

<h1>Compose Page</h1>

<form class="form-group mb-3" action="/compose" method="post">
    <div class="input-group-lg">
        <label class="compose-label">Title</label>
        <input type="text" class="form-control" name="postTitle" placeholder="Title" autocomplete="off">
        <label class="compose-label">Post Description</label>
        <textarea id="textArea" class="form-control" aria-label="With textarea" class="input-group-text" type="text"
            name="postBody" placeholder="Description"></textarea>
   
    <button id="publishButton" name="buttonPublish" type="submit" class="btn btn-primary btn-lg">Publish</button>
</div>
</form>

<%- include('partials/footer'); -%>