<%- include('partials/header'); -%>

<h1>Post Page</h1>
<!-- <div> -->
    <!-- <% var posts = [];
    <% console.log(posts); %> -->
   <!-- <%  posts.forEach(function (post) { %>
    <% console.log(post); %> -->
    <!-- <p><%= post %></p>  -->
  <!-- <%  }); %> -->
<!-- </div> -->
<%- include('partials/footer'); -%>